# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.dbphase2/duplicate_candidates.json
phase2/duplicate_candidates.json
